<!-- Views/Shared/_AdminLayout.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotelNamo - Admin View</title>
</head>
<body>
    <main role="main">
        @RenderBody() <!-- This is where the content of the view will be inserted -->
    </main>
</body>
</html>
